<div class="container">
  <div class="header">
    <h3 class="title">{{ data ? 'Edit Credential' : 'Add New Credential' }}</h3>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content>
    <div class="py-4">
      <form novalidate [formGroup]="form">
        <div class="row">
          <div class="col">
            <mat-form-field class="w-100 custom-field-width" appearance="outline">
              <mat-label>Page url</mat-label>
              <input
                matInput
                formControlName="url"
                name="prevent_autofill_url"
                placeholder="Page url"
                autocomplete="new-password"
              />
              <mat-error *ngIf="form.controls.url.invalid">
                {{ form.controls.url | inputError }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="w-100 custom-field-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input
                matInput
                formControlName="username"
                name="prevent_autofill_username"
                placeholder="Username"
                autocomplete="new-password"
              />
              <mat-error *ngIf="form.controls.username.invalid">
                {{ form.controls.username | inputError }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="w-100 custom-field-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input
                matInput
                formControlName="password"
                name="prevent_autofill_password"
                placeholder="Password"
                [type]="hidePassword ? 'password' : 'text'"
                autocomplete="new-password"
              />
              <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="form.controls.password.invalid">
                {{ form.controls.password | inputError }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="w-100 custom-field-width" appearance="outline">
              <mat-label>Description</mat-label>
              <textarea
                matInput
                formControlName="description"
                name="prevent_autofill_description"
                placeholder="Description"
                autocomplete="new-password"
              >
            </textarea>
            </mat-form-field>
          </div>
        </div>
      </form>

      <button mat-flat-button class="action-btn primary mx-auto" (click)="submit()">Save</button>
    </div>
  </mat-dialog-content>
</div>