@import 'variables';
@import 'table';

.container {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;

  .content-container {
    padding: 30px;
    background-color: #fff;
    opacity: 0.97;
    border-radius: 10px;
  }
}

.add-button {
  background-color: $primary;
  margin-bottom: 22px;

  .mat-icon {
    color: #fff;
  }
}

.password-input {
  outline: none;
  border: none;
  background-color: transparent;
}

input[type="password"].password-input {
  font-family: 'DejaVu Sans Mono', monospace;
}
