<div class="container">
  <div class="header">
    <h3 class="title">Change Password</h3>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content>
    <div class="py-4">
      <form novalidate [formGroup]="form">
        <div class="row">
          <div class="col">
            <mat-form-field class="w-100 custom-field-width" appearance="outline">
              <mat-label>Old Password</mat-label>
              <input
                matInput
                formControlName="oldPassword"
                name="prevent_autofill_old_password"
                placeholder="Old Password"
                [type]="hidePassword ? 'password' : 'text'"
                autocomplete="new-password"
              />
              <mat-error *ngIf="form.controls.oldPassword.invalid">
                {{ form.controls.oldPassword | inputError }}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Hash Algorithm</mat-label>
              <mat-select disableOptionCentering formControlName="type">
                <mat-option *ngFor="let algorithm of hashAlgorithmEnum | keyvalue" value="{{ algorithm.value }}">
                  {{ algorithm.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>New Password</mat-label>
              <input
                matInput
                formControlName="password"
                name="prevent_autofill_password"
                placeholder="New Password"
                [type]="hidePassword ? 'password' : 'text'"
                autocomplete="new-password" 
              />
              <mat-error *ngIf="form.controls.password.invalid">
                {{ form.controls.password | inputError }}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input
                matInput
                formControlName="confirmPassword"
                name="prevent_autofill_confirm_password"
                placeholder="Confirm New Password"
                [type]="hidePassword ? 'password' : 'text'"
                autocomplete="new-password" 
              />
              <mat-error *ngIf="form.controls.confirmPassword.invalid">
                {{ form.controls.confirmPassword | inputError }}
              </mat-error>
              <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
      </form>

      <button mat-flat-button class="action-btn primary mx-auto mt-4" (click)="submit()">Save</button>
    </div>
  </mat-dialog-content>
</div>