<div class="container">
  <div class="header">
    <h3 class="title">Share Credential</h3>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content>
    <div class="py-4">
      <form novalidate [formGroup]="form">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" name="prevent_autofill_email" placeholder="Email"
            autocomplete="new-password" />
          <mat-error *ngIf="form.controls.email.invalid">
            {{ form.controls.email | inputError }}
          </mat-error>
        </mat-form-field>
      </form>

      <button mat-flat-button class="action-btn primary mx-auto" (click)="submit()">Share</button>
    </div>
  </mat-dialog-content>
</div>